@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7b1ff0;
  --ifm-color-primary-dark: #6d0fe5;
  --ifm-color-primary-darker: #670ed8;
  --ifm-color-primary-darkest: #550cb2;
  --ifm-color-primary-light: #8a38f2;
  --ifm-color-primary-lighter: #9145f3;
  --ifm-color-primary-lightest: #a86bf5;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b5ffe9;
  --ifm-color-primary-dark: #89ffdc;
  --ifm-color-primary-darker: #74ffd6;
  --ifm-color-primary-darkest: #32ffc2;
  --ifm-color-primary-light: #e1fff6;
  --ifm-color-primary-lighter: #f6fffc;
  --ifm-color-primary-lightest: #ffffff;
}

.hidden {
  display: hidden;
}

.navbar__title{
  font-size: 1.5rem;

}

img.docs-ss{
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 639px) {
  img.w-33 {
    width: 100%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
  img.w-33 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  img.w-33 {
    width: 66.66%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  img.w-33 {
    width: 50%;
  }
}

@media only screen and (min-width: 1280px) {
  img.w-33 {
    width: 50%;
  }
}


